* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #F9FAFB;
}

.wrapper {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.greeting {
    font-size: 1.5rem;
    font-weight: 700;
    padding: 4rem 3rem 0rem 3rem;
}

.form-container {
    background-color: white;
    height: 300px;
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.left {
    background-image: url("fern.png");
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    min-width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.odin-overlay {
    height: 200px;
    background-color: black;
    opacity: 0.5;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.odin {
    max-height: 100%;
    max-width: 100%;
    text-align: center;
}

.right {
    background-color: silver;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    min-width: 60%;
    flex-wrap: wrap;



}